.banner {
    width: 860px;
    height: 199px;
    border-radius: 6px;
    background-image: linear-gradient(292deg, #022120, #006a4d, #006a4d);
  }

  .paper {
    width: 416px;
    height: 450px;
    border-radius: 6px;
    background-color: #ffffff;
    margin: 3%;
    padding: 5px
  }

  .outer-layer{
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .tooltip_background {
    width: 100%;
    height: 222px;
    background-color: #ffffff;

  }

  .bank {

    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #9b9b9b;
  }

  .JP_Morgan_Chase {

    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
  }

  .outer-layer2{
    margin-top: 20px;
    margin-bottom: 25px;
  }

  .credit-accounts {
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
  }

  .line {
    border-right: solid 0.4px #979797;
    width: 3px;
    height: 45px;
  }

  .line-1 {
    border-right: solid 0.4px #979797;
    width: 3px;
    height: 45px;
    margin-top : 5px;
  }

  .img-credit{
    width: 30%;
  }

  .detail-credit {
    width: 50%;
  }

  .name-credit {
    font-weight: 750;
    width: 13%;
    height: 50px;
  }

  .name-credit p {
    margin: 0;
    text-align: right;
    font-size: 15px;
  }

  .name-credit p,
  .amount-credit b {
    line-height: 55px;
  }

  .amount-credit span {
    padding-right: 3px;
  }

  .line,
  .line-1 {
    width: 7%;
  }

  .img-credit,
  .detail-credit,
  .name-credit,
  .line,
  .line-1{
    display: inline-block;
    float: left;
  }
  .credit{
    font-size: 1vw;
    padding: 3%;
    padding-left: 5%;
  }

  .detail-credit small {
    font-size: 10px;
    padding: 0;
  }

  .detail-credit b {
    width: 100%;
    display: block;
  }

  .detail-credit div {
    line-height: 10px;
  }

  .bankName {
    padding-bottom: 5px;
  }

  .payout-button{
    width: 260px;
    height: 65px;
    border-radius: 3px;
    background-color: #c62745;

  }

  .balance-wrapper > div:first-child {
    margin-right: 3% !important;
  }

  .balance-wrapper > div:nth-child(2) {
    margin: 3% 0 0 3% !important;
  }

  .outer-layer2 .col-3,
  .outer-layer .col-3 {
    padding-left: 0;
  }
  .optimize-btt > div:first-child {
    width: 60%;
    line-height: 55px;
    display: inline-block;
    font-size: 16px;
    position: relative;
    float: left;
    bottom: 2px;
  }

  .optimizeBtn > div {
    width: 100% !important;
  }
  
  .optimize-btt > div:nth-child(2) {
    width: 40%;
    line-height: 50px;
    display: inline-block;

  }
  .optimize-btt {
    width: 266px;
    height: 65px;
    border-radius: 3px;
    background-color: #66980c;
    box-shadow: 0 9px 19px 0 rgba(43, 63, 8, 0.38);
    font-family: Open Sans;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
  }

  .detail-credit b {
    padding-left: 0;
  }

  .payout-button div {
    float: left;
  }

  .btn-text-wrapper {
    width: inherit;
    height: inherit;
  }

  .btn-text {
    width: 60%;
    line-height: 55px;
    text-align: right;
    padding-right: 7%;
  }

  .btn-arrow {
    width: 40%;
    line-height: 55px;
  }

  .btn-arrow i {
    font-size: 21px;
    width: 100%;
    position: absolute;
    left: 53px;
    line-height: 55px;
  }
