.pool-funds-modal{
    width: 1145px;
    height: 700px;
    border-radius: 9px;
    background-color: #ffffff;
    margin-left: 4%;
    margin-top: 20px;
    padding-left: 200px;
    padding-right: 186px;
}

.pool-header{
    width: 203px;
    height: 36px;
    font-family: Open Sans;
    font-size: 26px;
    font-weight: 300;
    text-align: left;
    color: #000000;
}


.pool-subheader{
    width: 429px;
    height: 44px;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 300;
    text-align: left;
    color: #ada5a5;
}

.pool-line {
    margin-top: 70px;
    width: 761px;
    height: 2px;
    opacity: 0.4;
    background-color: #ada5a5;
  }

  .port-from-card {
    height: 77px;
    border-radius: 6px;
    background-color: #ffffff;
    border : 1px solid #c4c6cd
  }
