.Payment-instructions {
    font-family: 'Open Sans';
    font-size: 30px;
    font-weight: 300;
    text-align: left;
    color: #000000;
  }

  .transfer-funds-modal-message {

    font-family: "Open Sans";
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    width: 404px
  }

  .yes-button {
        width: 139px;
        height: 48px;
        border-radius: 3px;
        background-color: #00402e;
  }
  .yes-text-style {

    font-family: "Open Sans";
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.5px;
    text-align: left;

  }

  .cancel-button {
    width: 139px;
    height: 48px;
    border-radius: 3px;
  }

  .from-card1 {
    width: 260px;
    height: 77px;
    border-radius: 6px;
    background-color: #ffffff;
  }

  .to-card1 {
    width: 206px;
    height: 77px;
    border-radius: 6px;
    background-color: #ffffff;
  }

  .bank-name {

    font-family: "Open Sans";
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
  }

  .amount-transfer {

    font-family: "Open Sans";
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #2d8259;
  }
