.Payment-instructions {
  font-family: 'Open Sans';
  font-size: 30px;
  font-weight: 300;
  text-align: left;
  color: #000000;
}
.standingInstTable {
  border: none !important;;
  border-collapse: collapse !important;
}
.standingInstTable thead,tbody tr {
  border-bottom: 3px solid #f5f6fa !important;;
}

.standingInstTable thead{
  font-family: 'Open Sans';
  color: #181818;
  opacity: 0.92;
  font-weight: bold;
  line-height: 1.71;
  color: #181818;
}
.Rectangle-5 {
  width: 233px;
  height: 48px;
  border-radius: 3px;
  background-color: #00402e;
  font-family: 'Open Sans';
 font-size: 14px;
 font-weight: bold;
 letter-spacing: 1.5px;
 color: #ffffff;
 padding: 16px 29px;
bottom: 45px;
left: 47px;
position: absolute;
cursor: pointer;
}
.insufficientText{
  width: 337px;
 height: 116px;
 font-family: 'Open Sans';
 font-size: 14px;

 line-height: 1.64;
 text-align: left;
 color: #ffffff;
}
