.pool-funds-modal{
    width: 1145px;
    height: 700px;
    border-radius: 9px;
    background-color: #ffffff;
    margin-left: 4%;
    margin-top: 20px;
    padding-left: 200px;
    padding-right: 186px;
}

.flex-item-next-btn{
    width: 139px;
    height: 42px;
    border-radius: 3px;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.5px;
    text-align: left;
    color: #ffffff;
    background-color: #00402e;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    border : none
  }

  .flex-container-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
  }

  .success-text {
  
    font-family: 'Open Sans';
    font-size: 26px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }