.modal-body g.raphael-group-23-creditgroup {
    display: none !important;
}

.visuallyhidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.tooltip-container {
  height: 50px;
}

.tooltip-wrapper {
  width: 160px;
  padding: 10px;
  background: #f7f7f7;
}

.tooltip-wrapper > div {
  padding: 5px;
  font-size: 14px;
}

.sub-title {
  font-size: 13px;
  padding-left: 25px;
}

.label {
  width: 40px !important;
  height: 100px !important;
}
