.optimizingsModal{
  width: 1145px;
  height: 788.3px;
  border-radius: 9px;
  background-color: #ffffff;
  margin-left: 4%;
  margin-top: 20px;
  padding-left: 200px;
  padding-right: 186px;
}
.optimizingsModalHeader{
  width: 413px;
  height: 36px;
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin-bottom: 10px;
}
.closeIcon{
  margin-left: 858px;
  padding-top: 35px;
}
.option{
  width: 760px;
  height: 90px;
  border-radius: 9px;
  background-color: rgba(196, 198, 205, 0.08);
  margin-top: 20px;
}
.optionHeader{
  font-family: Open Sans;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  padding-top: 20px;
  padding-left: 100px;
}
.radioStyle{
  margin-left: 44px;
  margin-top: -8px;
}
.optionMeta{
  padding-left: 100px;
  margin-top: -25px;
  font-family: Open Sans;
  font-size: 14px;
  color: #6d6d6d;
}
.flex-container{
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
.flex-item{
  width: 139px;
  height: 42px;
  border-radius: 3px;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  text-align: left;
  color: #4a4a4a;
  background-color: #ffffff;
  border: 1px solid #e1e1e1;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}
.flex-item1{
  width: 139px;
  height: 42px;
  border-radius: 3px;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  text-align: left;
  color: #ffffff;
  background-color: #00402e;
  border: 1px solid #e1e1e1;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}
